
//CONSTANTS

// Colors
$color1 = rgba(51, 0, 102, 0.8);  // buttons and stuff
// $color2= rgba(255, 255, 255, 1);
$color2 = rgba(75, 0, 150, 1);
$color3 = #F0F1F1


// fonts
@import url(http://fonts.googleapis.com/css?family=Lato);
$font1 = 'Lato', sans-serif;
// font1=helvetica
// font2=comic sans

// size
size1 = 1.5rem
size2 = 1.25rem
size3 = 1rem



//BASIC LAYOUT ELEMENTS

body
  global-reset()
  font-size: size2
  font-family: $font1
  background-image:url(/saucesome_food_front_page.jpg)

.clear
  clearfix()

#mainContainer
  font-size size1
  display flex
  flex-direction row
  margin: auto
  padding: 0 5%
  color: $color3

  .smallCol
    flex 3
    padding: 10px 20px

  .bigCol
    flex 5
    padding: 10px 20px

  .section
    margin 0 auto 10px
    background-color: rgba(0, 0, 0, 0.6)

  .sectionHeader
    border-bottom 3px solid $color1
    margin-bottom: 10px
    font-size size2

  .sectionBody
    margin-top 10px

  .subsection
    margin-bottom 20px

  #searchBox
    max-width 59.375%