
// Colors
color1=black
color2=white


// fonts
font1=helvetica
font2=comic sans

// size
size1 = 30px
size2 = 1.4rem


// basic layout

body
  global-reset()

.container


.clear
  clearfix();

.textRight
  text-align right


.smallCol
  // flex 1
  width 35.625%

.bigCol
  // flex 2
  width 59.375%

.section
  margin 0 auto 10px

.sectionHeader
  border-bottom 2px solid orange

.sectionBody
  margin-top 10px

.subsection
  margin-bottom 20px
