
// Colors
color1=black
color2=white


// fonts
font1=helvetica
font2=comic sans

// size
size1 = 30px
size2 = 18px


// basic layout

// body
//   global-reset()




.clear
  clearfix();

.textRight
  text-align right

.mainContent
  clear left

#maincontentcontainer
  margin 40px


.smallCol
  // flex 1
  width 35.625%

.bigCol
  // flex 2
  width 59.375%

.mainBox
  // width:50%
  margin auto
  text-align left
  font-size size1
  // Flexbox experiment
  display flex
  flex-direction row
  flex-wrap wrap
  margin: 0

  .section
    margin 0 auto 10px

    .sectionHeader
      border-bottom 2px solid orange

    .subsection
      margin-bottom 20px
