
// Top Bar
#headercontainer
  width 95%
  border-bottom: 4px solid orange
  height 60px
  margin: 5px 20px

  .appTitle
    display inline-block
    float left
    color: orange
    font-size:3em
    font-family: helvetica


  .topcoat-button-bar
    float right
    vertical-align bottom
    padding-top: 10px

#maincontentcontainer
  margin auto
  text-align left
  font-size size1

  // Flexbox
  display flex
  flex-direction row
  flex-wrap wrap
  margin: 0
