
// Top Bar
header
  width 100%
  border-bottom: 4px solid orange
  height 70px


.appTitle
  display inline-block
  float left
  margin: 10px 20px

  color: orange
  font-size:3em
  font-family: helvetica

  
.topcoat-button-bar
  float right