//Search Page
form 
  input
    margin 20px 0
    width 100%

button
  height 40px

.ingredientButton
  margin 5px
  width 100%

  button
    width 100%
    background-color orange
    font-size: size2


