//Search Page
#searchText
  margin-bottom 10px

input
  width 100%

button
  height 40px

.ingredientButton
  margin 5px 0
  width 100%

  button
    width 100%
    background-color $color1
    // font-size: size2

