
// login
.backgroundContainer
  // display: fixed
  // width:100%
  // height:100%
  // background-image:url(/saucesome_food_front_page.jpg)


// .backgroundContainer .bigCol
.loginBox
  // width:50%
  background-color: rgba(0, 0, 0, 0.6)
  // color: white
  position: inherit
  margin auto
  text-align center
  margin-top: 10%
  font-size: 40px

