@media only screen and (max-width: 768px)


  #mainContainer
    flex-direction:column;

    .bigCol, .smallCol
      width 90%
      padding 20px

    .subsection
      width: 100%

    #searchBox
      max-width: none

@media only screen and (max-width: 480px)
  .bigCol, .smallCol
    width 95%
    padding 10px

  // .recipeBox
  //   flex-direction column

  //   .recipe
  //     flex-direction column

  //     .recipeName
  //       flex 1

  //     .recipeImage
  //       flex 1