@media only screen and (max-width: 768px)
  #mainContainer
    flex-direction:column;

  .bigCol, .smallCol
    width 90%
    max-width 100%
    padding 20px


@media only screen and (max-width: 480px)
  .bigCol, .smallCol
    width 95%
    padding 10px