@media only screen and (max-width: 768px)
  #maincontentcontainer
    // margin 5px

  .mainBox
    flex-direction column

  .smallCol
    // flex 1
    width 90%

  .bigCol
    // flex 2
    width 90%


@media only screen and (max-width: 480px)
  #maincontentcontainer
    margin 5px

  .mainBox
    flex-direction column

  .smallCol
    // flex 1
    width 95%

  .bigCol
    // flex 2
    width 95%
