.recipe
  display flex
  flex-direction row
  padding 5px
  margin 5px auto
  background-color orange
  width 90%
  height 80px

  .recipeName
    flex 4
    text-wrap normal
    margin: auto
    font-size: 1.1rem

  .recipeImage
    flex 1
    text-align left
    padding 5px
    vertical-align center
