//Search Page
form 
  text-align center

  input
    margin 10px 0
    width 100%
    font-size size1

  // Figure out a mixin for this
  ::-webkit-input-placeholder
    vertical-align: center
    line-height: 100%

  ::-moz-placeholder  /* Firefox 19+ */
    vertical-align:center
    line-height: 100%

  :-ms-input-placeholder 
    vertical-align:center
    line-height: 100%

  :-moz-placeholder /* Firefox 18- */
    vertical-align:center
    line-height: 100%

button
  font-size size1
  height 40px

.matchingIngredients
  font-size size1

.ingredientButton
  margin 5px
  width 100%

  button
    width 100%
    background-color orange

