
.recipeBox
  display flex
  flex-direction row
  padding 3px
  margin 0 auto
  height:80px
  border-bottom: 2px solid $color1

  .recipe
    flex 3
    display flex
    flex-direction row

    .recipeName
      flex 3
      text-wrap normal
      margin: auto
      font-size: 1rem
      vertical-align center

    .recipeImage
      flex 1
      text-align left
      padding 5px 10px
      vertical-align center

  .recipeButtons
    display flex-direction
    flex-direction column
    flex 1
    height 100%
    // padding 4px

    div
      flex: 1
      margin: auto

      button
        width:  90%
        margin: auto
