
.recipeBox
  display flex
  flex-direction row
  padding 5px
  margin auto
  border-bottom: 1px solid $color1

  .recipe
    flex 3
    display flex
    flex-direction row

    .recipeName
      flex 3
      margin: auto
      font-size: $size3
      vertical-align center
      margin: auto 5px
      min-width 150px
      white-space: normal

    .recipeImage
      flex 1
      text-align left
      margin auto
      vertical-align middle
      min-width 95px

      img
        display inline-block
        vertical-align middle

  .recipeButtons
    display flex-direction
    flex-direction column
    flex 1
    height 100%

    div
      flex: 1
      margin: auto

      button
        width:  120px
        margin: auto
