@import "base.css";
/* Responsive Design Stuff */
/*TopCoat*/
@import "../../scripts/vendor/topcoat/css/topcoat-mobile-light.css";
body html,
body body,
body div,
body span,
body applet,
body object,
body iframe,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body blockquote,
body pre,
body a,
body abbr,
body acronym,
body address,
body big,
body cite,
body code,
body del,
body dfn,
body em,
body img,
body ins,
body kbd,
body q,
body s,
body samp,
body small,
body strike,
body strong,
body sub,
body sup,
body tt,
body var,
body dl,
body dt,
body dd,
body ol,
body ul,
body li,
body fieldset,
body form,
body label,
body legend,
body table,
body caption,
body tbody,
body tfoot,
body thead,
body tr,
body th,
body td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body body {
  line-height: 1;
  color: #000;
  background: #fff;
}
body ol,
body ul {
  list-style: none;
}
body table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
body caption,
body th,
body td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
body a img {
  border: none;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.container,
.textRight {
  text-align: right;
}
.mainContent {
  clear: left;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
#maincontentcontainer {
  margin: 40px 40px;
}
header {
  width: 100%;
  border-bottom: 4px solid #ffa500;
  height: 70px;
}
.appTitle {
  display: inline-block;
  float: left;
  margin: 10px 20px;
  color: #ffa500;
  font-size: 3em;
  font-family: helvetica;
}
.topcoat-tab-bar {
  float: right;
  font-size: 20px;
}
.loginBox {
  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 30px;
}
.loginBox button {
  font-size: 18px;
}
.searchBox {
  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 30px;
}
.searchBox form {
  text-align: center;
}
.searchBox form input {
  margin: 10px 0;
  width: 100%;
  height: 20px;
  font-size: 30px;
}
.searchBox button {
  font-size: 30px;
}
.matchingIngredients {
  font-size: 30px;
}
.ingredientButton {
  margin: 5px;
  width: 100%;
}
.ingredientButton button {
  width: 100%;
  background-color: #ffa500;
}
.ingredientsLiked,
.ingredientsNotLiked {
  margin: 30px;
}
.ingredientsLiked .topcoat-checkbox__checkmark,
.ingredientsNotLiked .topcoat-checkbox__checkmark {
  text-align: left;
}
.recipeName,
.recPicGroup {
  width: 360px;
}
.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 15%;
  text-wrap: normal;
  border: 2px solid #ffa500;
}
.attribution a {
  text-decoration: none;
  color: #000;
}
