/*TopCoat*/
@import "../../scripts/vendor/topcoat/css/topcoat-desktop-light.css";
body html,
body body,
body div,
body span,
body applet,
body object,
body iframe,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body blockquote,
body pre,
body a,
body abbr,
body acronym,
body address,
body big,
body cite,
body code,
body del,
body dfn,
body em,
body img,
body ins,
body kbd,
body q,
body s,
body samp,
body small,
body strike,
body strong,
body sub,
body sup,
body tt,
body var,
body dl,
body dt,
body dd,
body ol,
body ul,
body li,
body fieldset,
body form,
body label,
body legend,
body table,
body caption,
body tbody,
body tfoot,
body thead,
body tr,
body th,
body td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body body {
  line-height: 1;
  color: #000;
  background: #fff;
}
body ol,
body ul {
  list-style: none;
}
body table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
body caption,
body th,
body td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
body a img {
  border: none;
}
.container,
.clear {
  zoom: 1;
}
.container:before,
.clear:before,
.container:after,
.clear:after {
  content: "";
  display: table;
}
.container:after,
.clear:after {
  clear: both;
}
.textRight {
  text-align: right;
}
.smallCol {
  width: 35.625%;
}
.bigCol {
  width: 59.375%;
}
.section {
  margin: 0 auto 10px;
}
.sectionHeader {
  border-bottom: 2px solid #ffa500;
}
.sectionBody {
  margin-top: 10px;
}
.subsection {
  margin-bottom: 20px;
}
.recipeImage {
  margin: auto;
}
.attribution {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 15%;
  text-wrap: normal;
  border: 2px solid #ffa500;
}
.attribution a {
  text-decoration: none;
  color: #000;
}
form {
  text-align: center;
}
form input {
  margin: 10px 0;
  width: 100%;
  font-size: 30px;
}
form ::-webkit-input-placeholder {
  vertical-align: center;
  line-height: 100%;
}
form ::-moz-placeholder /* Firefox 19+ */ {
  vertical-align: center;
  line-height: 100%;
}
form :-ms-input-placeholder {
  vertical-align: center;
  line-height: 100%;
}
form :-moz-placeholder /* Firefox 18- */ {
  vertical-align: center;
  line-height: 100%;
}
button {
  height: 40px;
}
.ingredientButton {
  margin: 5px;
  width: 100%;
}
.ingredientButton button {
  width: 100%;
  background-color: #ffa500;
}
.loginBox {
  margin: auto;
  text-align: center;
  margin-top: 15%;
}
#headercontainer {
  width: 95%;
  border-bottom: 4px solid #ffa500;
  height: 60px;
  margin: 5px 20px;
}
#headercontainer .appTitle {
  display: inline-block;
  float: left;
  color: #ffa500;
  font-size: 3em;
  font-family: helvetica;
}
#headercontainer .topcoat-button-bar {
  float: right;
  vertical-align: bottom;
  padding-top: 10px;
}
#maincontentcontainer {
  margin: auto;
  text-align: left;
  font-size: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}
/* Responsive Design Stuff */
@media only screen and (max-width: 768px) {
  .mainBox {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .smallCol {
    width: 90%;
  }
  .bigCol {
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  #maincontentcontainer {
    margin: 5px;
  }
  .mainBox {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .smallCol {
    width: 95%;
  }
  .bigCol {
    width: 95%;
  }
}
