@import "../../scripts/vendor/topcoat/css/topcoat-desktop-light.css";
@import url("http://fonts.googleapis.com/css?family=Lato");
body {
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  background-image: url("/saucesome_food_front_page.jpg");
}
body html,
body body,
body div,
body span,
body applet,
body object,
body iframe,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body blockquote,
body pre,
body a,
body abbr,
body acronym,
body address,
body big,
body cite,
body code,
body del,
body dfn,
body em,
body img,
body ins,
body kbd,
body q,
body s,
body samp,
body small,
body strike,
body strong,
body sub,
body sup,
body tt,
body var,
body dl,
body dt,
body dd,
body ol,
body ul,
body li,
body fieldset,
body form,
body label,
body legend,
body table,
body caption,
body tbody,
body tfoot,
body thead,
body tr,
body th,
body td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body body {
  line-height: 1;
  color: #000;
  background: #fff;
}
body ol,
body ul {
  list-style: none;
}
body table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
body caption,
body th,
body td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
body a img {
  border: none;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
#mainContainer {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  padding: 0 7%;
  color: #f0f1f1;
}
#mainContainer .smallCol {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px 20px;
}
#mainContainer .bigCol {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -o-box-flex: 5;
  box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  padding: 10px 20px;
}
#mainContainer .section {
  margin: 0 auto 10px;
  background-color: rgba(0,0,0,0.6);
}
#mainContainer .sectionHeader {
  border-bottom: 3px solid rgba(51,0,102,0.8);
  margin-bottom: 10px;
  font-size: 1.25rem;
}
#mainContainer .sectionBody {
  margin-top: 10px;
}
#mainContainer .subsection {
  margin-bottom: 10px;
}
#mainContainer #searchBox {
  max-width: 59.375%;
}
#searchText {
  margin-bottom: 10px;
}
input {
  width: 100%;
}
button {
  height: 40px;
}
.ingredientButton {
  margin: 5px 0;
  width: 100%;
}
.ingredientButton button {
  width: 100%;
  background-color: rgba(51,0,102,0.8);
}
.selectedIngredients .topcoat-button--large {
  margin-top: 3px;
  margin-right: 3px;
}
.suggestedIngredients .topcoat-button--large {
  margin-top: 3px;
  margin-right: 3px;
}
.recipeBox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1px 5px;
  margin: auto;
  border-bottom: 1px solid rgba(51,0,102,0.8);
}
.recipeBox .recipe {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 7px;
}
.recipeBox .recipe .recipeName {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin: auto;
  font-size: $size3;
  vertical-align: center;
  margin: auto 5px;
  min-width: 150px;
  white-space: normal;
}
.recipeBox .recipe .recipeImage {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  min-width: 95px;
}
.recipeBox .recipe .recipeImage img {
  display: inline-block;
  vertical-align: middle;
}
.recipeBox .demoButton {
  height: 100%;
  width: 120px;
}
.recipeBox .recipeButtons {
  display: flex-direction;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}
.recipeBox .recipeButtons div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: auto;
}
.recipeBox .recipeButtons div button {
  width: 120px;
  margin: auto;
}
.loginBox {
  background-color: rgba(0,0,0,0.6);
  position: inherit;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  font-size: 40px;
}
#headercontainer {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 30px;
  background-color: rgba(51,51,51,0.6);
}
#headercontainer a:link {
  text-decoration: none;
}
#headercontainer a:visited {
  text-decoration: none;
}
#headercontainer a:hover {
  text-decoration: none;
}
#headercontainer a:active {
  text-decoration: none;
}
#headercontainer #appTitle {
  display: inline-block;
  color: #f0f1f1;
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  vertical-align: middle;
  margin-left: 4px;
}
#headercontainer .logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
#headercontainer .topcoat-button-bar {
  float: right;
  vertical-align: bottom;
  padding-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.animate-enter.ng-enter {
  -webkit-transition: 0.5s linear all;
/* Safari/Chrome */
  -moz-transition: 0.5s linear all;
/* Firefox */
  -o-transition: 0.5s linear all;
/* Opera */
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  transition: 0.5s linear all;
/* IE10+ and Future Browsers */
  The: animation preparation code;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.animate-enter.ng-enter.ng-enter-active {
  The: animation code itself;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
/* Responsive Design Stuff */
@media only screen and (max-width: 768px) {
  #mainContainer {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #mainContainer .bigCol,
  #mainContainer .smallCol {
    width: 90%;
    padding: 20px;
  }
  #mainContainer .subsection {
    width: 100%;
  }
  #mainContainer #searchBox {
    max-width: none;
  }
}
@media only screen and (max-width: 480px) {
  .bigCol,
  .smallCol {
    width: 95%;
    padding: 10px;
  }
  .recipeBox {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 4px;
  }
  .recipeBox .recipe .recipeName {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .recipeBox .recipe .recipeImage {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .recipeBox .recipeButtons div button {
    width: 100%;
    margin: 2px 0;
  }
}
