
<!-- <div id="skiptomain"><a href="#maincontent">skip to main content</a></div> -->

<div id="wrapper">
  <div id="headcontainer">
    <header>
    <h1>Menu Maybe</h1>
    </header>
  </div>
  <div id="maincontentcontainer">
    <div id="maincontent">
      <div class="section group">
      <h3>Eight Columns</h3>
      </div>
      <div class="section group">
        <div class="col span_1_of_8">
        1 of 8
        </div>
        <div class="col span_1_of_8">
        1 of 8
        </div>
        <div class="col span_1_of_8">
        1 of 8
        </div>
        <div class="col span_1_of_8">
        1 of 8
        </div>
        <div class="col span_1_of_8">
        1 of 8
        </div>
        <div class="col span_1_of_8">
        1 of 8
        </div>
        <div class="col span_1_of_8">
        1 of 8
        </div>
        <div class="col span_1_of_8">
        1 of 8
        </div>
      </div>
    </div>
  </div>
  <div id="footercontainer">
    <footer class="group">
    </footer>
  </div>
</div>