<form>
  <p> What ingredient would you like to cook with today?</p>
  <input type="text" ng-model="ingredientSearch" placeholder="Ingredient"></input>
</form>

<a href="#/searchResults/"><button>Get Recipes</button></a>

<div class="matchingIngredients">
  <h3 class="topcoat-list__header">Search Results</h3>
   <ul class="topcoat-list__container">
    <li class="topcoat-list__item" ng-repeat="ingredient in ingredients | filter:ingredientSearch"  ng-click="addToCook(ingredient)">
        <span>{{ingredient.name}}</span>
    </li>
  </ul>
<div>

<div class="suggestedIngredients">
  <h3 class="topcoat-list__header">Suggested Ingredients</h3>
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item" ng-repeat="ingredient in suggestedIngredients"  ng-click="addToCook(ingredient)">
        <span>{{ingredient.name}}</span>
    </li>
  </ul>
<div>

<div class="toCook">
  <h3 class="topcoat-list__header">What we're cooking with today</h3>
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item" ng-repeat="ingredient in toCook" ng-click="removeFromToCook(ingredient)">
        <span >{{ingredient.name}}</span>
    </li>
  </ul>
<div>

