<div class="mainBox">

  <div class="section smallCol" ng-show="showCook">
    <div class="subsection">
      <p class="sectionHeader">You've selected:</p>
      <div class="matchingIngredients">
        <button class="topcoat-button--large--quiet" ng-repeat="ingredient in toCook" ng-click="removeFromToCook(ingredient)" >{{ingredient.ingredientName}}</button>
      </div>
    </div>
    
<!--     <div class="subsection">
      <p class="sectionHeader">You've selected:</p>
      <div class="matchingIngredients">
        <div  ng-repeat="ingredient in toCook" ng-click="removeFromToCook(ingredient)" ><button class="topcoat-button--large--quiet" >{{ingredient.ingredientName}}</button>
        </div>
      </div>
    </div> 
 -->    
    <div class="subsection">
      <a class="getRecipes" href="#/searchResults"><button class="topcoat-button--large--cta" ng-click="someFunction()">Get Some Recipes</button></a>
    </div>

    <div class="subsection">
      <p class="sectionHeader">Here's some ingredients that go well with that:</p>
      <div class="matchingIngredients">
      <div class="ingredientButton" ng-repeat="ingredient in suggestedIngredients | limitTo:8"  ng-click="addToCook(ingredient)" ><button class="topcoat-button--large--cta" >{{ingredient.ingredientName}}</button>
      </div>
    </div>
    </div>
  </div>

<!--   <div class="section" ng-show="showCook">
    <a class="getRecipes" href="#/searchResults"><button class="topcoat-button--large" ng-click="someFunction()">Get Some Recipes</button></a>
  </div>
 -->

<!-- 
  <div class="section" ng-show="showCook">
    <p class="sectionHeader">Here's some ingredients that go well with that:</p>
    <div class="matchingIngredients">
      <div class="ingredientButton" ng-repeat="ingredient in suggestedIngredients | limitTo:5"  ng-click="addToCook(ingredient)" ><button class="topcoat-button--large--cta" >{{ingredient.ingredientName}}</button>
      </div>
    </div>
  </div> -->

  <div class="section bigCol">
    <p class="sectionHeader" ng-show="showCook">Or add something else:</p>
    <p ng-hide="showCook"> What ingredient would you like to cook with today?</p>
    <form>
      <input type="text" class="topcoat-text-input--large" ng-model="ingredientSearch" placeholder="Ingredient"></input>
    </form>

    <div class="matchingIngredients" ng-show="ingredientSearch">
      <div class="ingredientButton" ng-repeat="ingredient in ingredients | filter:ingredientSearch | limitTo:11" ng-click="addToCook(ingredient)" >
        <button class="topcoat-button--large--cta" >{{ingredient.ingredientName}}</button>
      </div>
    </div>
  </div>
</div>