<div class="section group">
  <div class="col span_1_of_8"></div>
  <h1>{{recipe.name}}</h1>
</div>
<div class="section group">
  <div class="col span_1_of_8"></div>
  <div class="col span_3_of_8">
    <img class="recipeImage" src="{{recipe.images[0].hostedLargeUrl}}"/>
    <div class="attribution">
      <a href="{{recipe.attribution.url}}">{{recipe.attribution.text}}</a><br>
      <img src="{{recipe.attribution.logo}}"/>
    </div>
  </div>
  <div class="col span_1_of_8 offset"></div>
  <div class="topcoat-list col span_3_of_8">
    <h3 class="topcoat-list__header">Ingredients</h3>
    <ul class="topcoat-list__container">
      <li class="topcoat-list__item" ng-repeat="line in recipe.ingredientLines">{{line}}</li>
    </ul>
  </ul>
</div>