<div class="mainBox">

  <div class="section" ng-show="showCook">
    <p class="sectionHeader">You've selected:</p>
    <div class="matchingIngredients">
      <button class="topcoat-button--large--quiet" ng-repeat="ingredient in toCook" ng-click="removeFromToCook(ingredient)" >{{ingredient.name}}</button>
    </div>
  </div>


  <div class="section">
    <p class="sectionHeader">Here's Some Recipes:</p>
    <ul class="topcoat-list__container">
      <li class="topcoat-list__item" ng-repeat="recipe in searchResults.matches">  <span class="rating">Rating: {{recipe.rating}}</span>
        <span class="totalTime">Total Time: {{recipe.totalTimeinSeconds | seconds}}
        <a href="#/recipe/{{recipe.id}}">{{recipe.recipeName}}</a>
      </li>
    </ul>
  </div>


</div>


<div class="attribution">
  <a href="{{searchResults.attribution.url}}">{{searchResults.attribution.text}}</a>
  <img src="{{searchResults.attribution.logo}}"/>
</div>
