<div class="searchBox">

  <div class="toCook" ng-show="showCook">
    <h3 class="topcoat-list__header">You've selected</h3>
    <ul class="topcoat-list__container">
      <li class="topcoat-list__item" ng-repeat="ingredient in toCook" ng-click="removeFromToCook(ingredient)">
          <span >{{ingredient.name}}</span>
      </li>
    </ul>
  </div>

  <div class="suggestedIngredients" ng-show="false">
    <h3 class="topcoat-list__header">Here's some ingredients that go well with that:</h3>
    <ul class="topcoat-list__container">
      <li class="topcoat-list__item" ng-repeat="ingredient in suggestedIngredients"  ng-click="addToCook(ingredient)">
          <span>{{ingredient.name}}</span>
      </li>
    </ul>
  </div>

  <p>Or add something else?</p>
  <form>
    <input type="text" class="topcoat-text-input--large" ng-model="ingredientSearch" placeholder="Ingredient"></input>
  </form>

  <div class="matchingIngredients" ng-show="ingredientSearch">
    <div class="ingredientButton" ng-repeat="ingredient in ingredients | filter:ingredientSearch" ng-click="firstIngredient(ingredient)" ><button class="topcoat-button--large--cta" >{{ingredient.name}}</button>
    </div>
  </div>
<div>


<a href="#/searchResults/"><button>Get Recipes</button></a>
