<div class="mainBox">

  <div class="section">
    <p class="sectionHeader">You've selected:</p>
    <div class="matchingIngredients">
      <button class="topcoat-button--large--quiet" ng-repeat="ingredient in toCook" ng-click="removeFromToCook(ingredient)" >{{ingredient.ingredientName}}</button>
    </div>
  </div>


  <div class="section">
    <p class="sectionHeader">Here's Some Recipes:</p>
    <div class="matchingIngredients">
      <div class="ingredientButton" ng-repeat="recipe in searchResults.matches | limitTo:12" ng-click="getRecipe(recipe.id)" >
        <button class="topcoat-button--large--cta" >{{recipe.recipeName}}</button>
      </div>
    </div>
  </div>


</div>


<div class="attribution">
  <a href="{{searchResults.attribution.url}}">{{searchResults.attribution.text}}</a>
  <img src="{{searchResults.attribution.logo}}"/>
</div>
